*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}
body{
	background-image: url("../images/reception/img9.jfif");
	background-size: cover;
}

/*----------------------------------menu----------------------*/
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;



}
nav{
	flex: 1;
	background: #eb7371;
	text-align: center;
	margin-bottom: 50px;
	

}
nav ul{
	
	display: inline-block;
	list-style-type: none;
	color: #fff;

}
nav ul li{
	width: 100px;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	

}
nav ul li a{
	text-decoration: none;
	color: #fff;
	margin-right: 8px;
}
.active, nav ul li:hover{
	background: pink;
	border-radius: 3px;
}
.sub-menu-1{
	display: none;

}

 nav ul li:hover .sub-menu-1{
 	display: block;
 	position: absolute;
 	background-color: pink;
 	margin-top: 15px;
 	margin-left: -15px; }


nav ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}


nav ul li:hover .sub-menu-1 ul li{
	width: 150px;
	padding: 10px;
	background:transparent;
	border-radius: 0;
	text-align: left;
}

nav ul li:hover .sub-menu-1 ul li a:hover{
	color: black;
}

.menu-bar .fa{
	margin-right: 8px;
}


a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 50px;

}
.col-2{
	flex-basis: 50%;
	min-width: 300px;

}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin-right: 25px 0;
}
.btn{
	display: inline-block;
	background: #eb7371;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;

}
.btn:hover{
	background: #563434;
}
.header{
	background-image: url('images/Mariage/mamie.png');
	background: scroll;
}
.header row{
	margin-top: 70px;
}


.categories{
	margin: 70px 0;
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: : 30px;
	
}
.col-3 img{
	width:100%; 
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;

}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;

}
.col-4 img{
	width: 220px;

}


.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
	margin-top: 70px;
}
.title::after{
	content: '';
	background: #eb7371;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}
h4{
	color: #555;
	font-weight: normal;
}

}
.col-4 p{
	font-size: 14px;
}
.rating{
	color: #eb7371;
}
.col-4:hover{
	transform: translate(-5px);
}
/*---------------offer----------------------------------------------*/
.offer{
	background: radial-gradient;
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 50px;

}
small{
	color: #555;
}
.ph{
	font-size: 20px;
	text-align: center;
}

/*-----------------------------bouton recherche-----------------------------*/

.search-box{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#2f3640;
	height:40px;
	border-radius:40px;
	padding:10px;
	margin-top: 40px;	
}
.search-box:hover > .search-txt{
	width:240px;
	padding:0 6px;
}
.search-box:hover > .search-btn{
	background:white;	
}
.search-btn{
	color:#e84118;
	float:right;
	width:40px;
	height:40px;
	border-radius:50%;
	background:#2f3640;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:0.4s;
}
.search-txt{
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0;
	color:white;
	font-size:16px;
	transition:0.4s;
	line-height:40px;
	width:0px;
}
.box{
position:absolute;
top:0;
height:0;
margin-left:88%;
margin-top:3%;
float:left;
}
/*--------------------------------------testimonial----------------*/
.testimonial{
	padding-top: 100px;

}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);

}
.fa .fa-quote-left{
	font-size: 34px;
	color: #ff523b;
}
.col-3 p{
	font-size: 12px;
	margin:12px 0;
	color: #777;
}
.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}
/*--------------footer----------------------------------------------------*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
	margin-top: 50px;
}
.footer p{
	color: #8a8a8a;

}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex:1;
	text-align: center;

}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
.ul{
	list-style-type: none;


}
.app-logo{
	margin-top: 20px;

}
.app-logo img{
	width: 140px;
}
.footer hr{
	border:none;
	background: #b5b5b5;
	height: 1px;
	margin:20px 0;
}
.copyright{
	text-align: center;


}


.caption{
	font-weight: 700;
	color: #555;
	font-size: 20px;
}

/*-----cart items------*/
.cart-page{
	margin: 80px auto;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #ff523b ;
	font-weight: normal;
}

td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #ff523b;
	font-size: 12px;
}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
